body {
    background-image: url('images/Img.png');
    background-position: top right;
    background-repeat: no-repeat;
    font-family: 'Lexend', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 120px;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img, .header-link {
    display: inline-block;
}

.logo-img {
    width: 36px;
    height: 36px;
}

.header-link {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #1B1C57;
    text-decoration: none;


    width: 67px;
    height: 20px;

}

.header-nav {
    display: flex;
    /* align-items: center; */
    padding-right: 120px;
}

@media (max-width: 600px) {
    .header-nav {
        flex-direction: column;
    }
}


.about-us-btn, .article-btn, .property-select {
    width: 96px;
    height: 34px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    margin-left: 20px;

    font-family: Lexend;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;

    color: white;

}

.property-select {
    text-align: left;
}

.property-arrow {
    position: absolute;
    top: 61px;
    right: 290px;
}

.sign-up-btn {
    margin-left: 50px;
    background: rgba(209, 250, 229, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);

    font-family: Lexend;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;

    color: rgba(4, 120, 87, 1);


    top: 40px;
    left: 1213px;
    padding: 12px, 24px, 12px, 24px;
    border-radius: 32px;
    gap: 10px;

    width: 107px;
    height: 46px;
}

.banner {
    padding-top: 60px;
    padding-left: 120px;
    gap: 32px;
}

.banner-header {
    font-family: Lexend;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(27, 28, 87, 1);
}

.sub-banner {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(98, 102, 135, 1);
}

.search-container {
    position: relative;
    width: 496px;
    height: 56px;
    padding: 4px 4px 4px 24px;
    border-radius: 32px;
    border: 1px solid;
    display: flex;
    align-items: center;
    gap: 16px;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;

    font-family: Lexend;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    /* text-align: left; */
    padding-left: 40px;

}

.search-button {
    position: absolute;
    right: 4px;
    width: 109px;
    height: 48px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 32px;
    gap: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    background: rgba(16, 185, 129, 1);

    font-family: Lexend;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: white;

}

.search-img {
    position: absolute;
    left: 28px;
    width: 3%;
}

.search-arrow {
    position: absolute;
    left: 480px;
}

.banner-text {
    padding-top: 28px;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(136, 139, 151, 1);
}

.partners {
    display: flex;
    gap: 32px;
}


/* Featured */

.featured {
    margin-top: 200px;
    padding-left: 120px;
}

.featured-header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
    margin-left: 40px;
}

.section-header {
    font-family: Lexend;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;

    color: #1B1C57;
}

.house-btn, .villa-btn, .apartment-btn {
    width: 135px;
    height: 52px;
    padding-left: 35px;
    border-radius: 32px;
    gap: 8px;

    font-family: Lexend;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;

    border: 1px

}

.button-group {
    display: flex;
    gap: 30px;
}

.house-btn {
    background: rgba(209, 250, 229, 1);
    color: rgba(16, 185, 129, 1);
}

.house-img {
    position: absolute;
    margin-left: 20px;
    margin-top: 12px;
}

.villa-img {
    position: absolute;
    margin-left: 190px;
    margin-top: 12px;
}

.apartment-img {
    position: absolute;
    margin-left: 340px;
    margin-top: 12px;
}

.arrow-left-btn, .arrow-right-btn {
    width: 60px;
    height: 52px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 32px;

    border: 1px;

}

.arrow-right-btn {
    background: rgba(16, 185, 129, 1);
    margin-left: 15px;
}

.arrow_left_img {
    position: absolute;
    margin-left: 15px;
    margin-top: 12px;
}

.arrow_right_img {
    position: absolute;
    margin-left: 105px;
    margin-top: 15px;
}

.property-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-left: 80px;
}

.property-name {
    font-family: Lexend;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(14, 23, 53, 1);

}

.property-price {
    font-family: Lexend;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(60, 69, 99, 1);
}

.person-info {
    display: flex;
    align-items: center;
}

.person-name {
    font-family: Lexend;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(14, 23, 53, 1);
}

.person-details {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(136, 139, 151, 1);

}

.person-text {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.person-name {
    margin-bottom: 0px;
}

.person-details {
    margin-top: 0px;
}

/* House */

.house {
    margin-top: 200px;
    padding-left: 160px;
    display: flex;

}

.sub-header {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(98, 102, 135, 1);
}

.details-par {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(27, 28, 87, 1);
}

.detail {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(60, 69, 99, 1);
}

.details-matrix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.detail-container {
    display: flex;
    align-items: center;
}

.detail {
    padding-left: 5px;
}

.contact-btn {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: right;

    color: rgba(255, 255, 255, 1);
    background: rgba(16, 185, 129, 1);

    width: 163px;
    height: 48px;
    border-radius: 32px;
    gap: 16px;
    border: 1px;

    padding-right: 15px;
}

.contact-container {
    margin-left: 50px;
}

.person-text-contact {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contact-container {
    margin-left: 300px;
    margin-top: -60px;
}

.video {
    margin-left: 250px;
    width: 60%;
}

.video-col {
    position: relative;
}
.overlay-images {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.overlay-img {
    opacity: 0;
    transition: opacity 1s;
}

.vase-img {
    margin-top: 100px;
    height: 100px;
}

.chair-img {
    margin-top: 100px;
    height: 100px;
}

.phone-img {
    position: absolute;
    margin-left: 30px;
    margin-top: 15px;
}

/* Reviews */

.reviews {
    margin-top: 200px;
    padding-left: 160px;
}

.reviews-container {
    display: flex;
    justify-content: space-between;
}

.section-header-rev {
    font-family: Lexend;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    color: rgba(27, 28, 87, 1);

    text-align: center;
}

.review-container {
    z-index: -1;
    overflow: hidden;
    position: relative;
}

.property-img {
    object-fit: cover;
}

.text-block {
    position: relative;
    background-color: white;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    width: 612px;
    height: 249px;
    border-radius: 16px;

    bottom: 60px;
}

.person-review {
    display: flex;
    justify-content: space-between;

}

/* Articles */

.articles {
    margin-top: 200px;
    padding-left: 160px;
}

.section-header-articles {
    font-family: Lexend;
    font-size: 32px;
    font-weight: 600;
    line-height: s40px;
    letter-spacing: 0px;
    color: rgba(27, 28, 87, 1);

    text-align: center;
}

.articles .section-header-articles + button {
    display: block;
    margin: 0 auto;
}

.articles-btn {
    width: 118px;
    height: 46px;
    border-radius: 32px;
    border: 1px;

    font-family: Lexend;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;

    color: rgba(255, 255, 255, 1);
    background: rgba(16, 185, 129, 1);
}

.articles-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column {
    display: flex;
    flex-direction: column;
}

.article {
    display: flex;
}

.person-name-article {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

.article_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.article-name {
    font-family: Lexend;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

    color: #1B1C57;
}

.person-name-article {
    margin-bottom: 10px;
    margin-left: 10px;
}

.article-details {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(136, 139, 151, 1);
    margin-left: 30px;
    margin-top: 0px;
}

.property-img-article {
    width: 200px;
    height: 144px;
    border-radius: 16px;
}

.clock-img {
    position: absolute;
    margin-left: 0px;
}

/* .person-info-big {
    display: flex;
    align-items: center;
} */

/* .person-name-big {

} */

.article-big-par {
    margin-top: 0;
}





